@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Roboto:wght@300&display=swap');

:root {
  --anim-duration-1: 0.35s;
  --anim-duration-2: 0.45s;
}

header{
  position: sticky;
  top: 0;
	color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  height: 8vh;
  display: flex;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid #505050;
}

header::before{ /*pentru a face doar imaginea de fundal transparenta */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  content:"";
  background-image: url("resources/nav.jpg");
  background-position: 50%, 50%;
  opacity:0.95;
}

/***** DROP DOWN MENU *****/

.dropdown-menu {
    display: none;
    position: absolute;
    margin:0;
    background-color: #fff;
    top: 100%;
    transform: translateX(-14%);
    width: inherit;
    padding: 1%;
    z-index: 2;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin-bottom: 10%;
    list-style-type: none;
  }
  
  .dropdown-menu li a {
    color: #000;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    color: #fff;
    background-color: #000;
  }
  
  .dropdown>a:first-child{
    padding: 32%;
  }
  
  .dropdown>a:first-child::after{
    content:"▼";
  }
  
  /***************/
  
main {
	display: flex;
	flex-wrap: wrap;
}

main>section {
  /*min-height: 50vh;*/
	display: flex;
	flex: 1 1 100%;
}

#section1{
  height: 60vh;
  background-image: url("resources/background1.jpg");
  background-position: center, center;
  color: white;
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
  display: flex;
  align-items: center;
}




article {
	flex: 1 1 75%;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
}

nav{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:100%;
}


nav a{
  color: white;
}

a{
  text-decoration: none;
}

body{
  margin:0;
}

a.nav-link{
  font-size: 1.7vw;
  padding: 1%;

}

.img-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; 
  position: relative;
}

img#logo{
  flex-grow: 1;
  justify-self: center;
  max-width: 73.529325vh;
  max-height: 22.5vh;
  width: auto;
  height: auto;
  z-index:2;
  padding: 2%;
}


.noise-caption:hover{
  opacity: 1;
  display: flex;
}

.noise-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 174, 0);
  background: linear-gradient(to top right, rgba(229, 211, 164,0.2), rgba(255, 165, 0, 0.2));
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  /*font-family: 'Cinzel Decorative', cursive;*/
  font-family: 'Roboto', sans-serif;
  font-size: 2.3vw;
  text-align: center;
  transition: opacity var(--anim-duration-1) ease-in-out;
  text-shadow: 1px 1px 1px black;
}

#albums-container{
    padding: 5% 2%;
    border-bottom: 1px solid #505050;
    background:linear-gradient(to bottom, rgb(0,10,20), rgb(30,70,50),rgb(0,10,20));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#albums-container figure img{
    width: 100%;
    height: 100%;
    max-height:100%;
    max-width:100%;
    transition: filter var(--anim-duration-2) ease-in-out;
}
#albums-container figure{
    height: auto;
    position: relative;
    border: 1px solid white;
}

article{
    padding: 0;
}

#footer-container img{
    max-width: 100%;
    height: auto;
    margin-top: auto;
}
  
#footer-container{
    position: relative;
    background-image: url("resources/footer-bg.jpg");
    background-position: center, center;

}
  
footer{
    padding: 0;
}

.color-overlay-3{
    background: linear-gradient(to bottom, rgb(0,10,20), rgb(23, 156, 43), rgb(211, 174, 26));
    width: 100%;
    height: 100%;
    max-height: 100%;

    opacity: 0.1;
    position: absolute;
    z-index: 1;
}

h1{
    font-family: trajan-pro-3, sans-serif;
    font-weight:100;
    font-size: 3em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    color: white;
    background-color: rgb(0,10,20);
    letter-spacing: 0.5em;
    padding-top:5%;
    margin:0;
}

@media only screen and (max-width: 750px) {
    #albums-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #albums-container figure img{
        width: 100%;
        height: 100%;
        max-height:100%;
        max-width:100%;
        transition: filter var(--anim-duration-2) ease-in-out;
    }
    .noise-caption{
        font-size: 3.3vw;
    }
}

@media only screen and (max-width: 550px) {
    #albums-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #albums-container figure img{
        width: 100%;
        height: 100%;
        max-height:100%;
        max-width:100%;
        transition: filter var(--anim-duration-2) ease-in-out;
    }
    .noise-caption{
        font-size: 5vw;
    }
}





